# Java
*.class
*.jar
*.war
*.log
*.iml
*.iws
*.ipr
*.db

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Maven
target/

# Logs
logs/
*.log
*.out

# Configs locales
application-local.properties
